<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/front.css">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="titulo">
            <h2>Bienvenidos a FINNY</h2>

        </div>
        <div class="fondo">

            <div class="gradient_text_class"><h1>
            
            Hackaton 2023</h1></div>
            
        </div>
        <div class="contenido">
            <a href="/chat"><input class="boton" type="button" value="Empezamos"></a>
        </div>
    </section>
</body>
</html>